* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-family: "Righteous", cursive;
}

.title {
  margin-top: 1rem;
  color: darkcyan;
}

#size-selector {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 5rem;
}
#size-selector h2 {
  font-family: 2rem;
}
#slider {
  -webkit-appearance: none;
  margin: 1rem 0;
  width: 30rem;
  height: 1rem;
  border-radius: 50px;
  /* background: #ffffff; */
  background: linear-gradient(145deg, #f5f5ff, #e6e6e6);
  box-shadow: inset 2px 2px 4px #d9d9d9, inset -2px -2px 4px #ffffff;
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 3px 3px 6px #d9d9d9, -3px -3px 6px #ffffff;
}
#range-value {
  font-size: 3rem;
  color: crimson;
}

.sketchpad-container {
  width: 50vh;
  height: 50vh;
}
.sketchpad {
  margin-top: 1rem;
  display: grid;
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 6px #d9d9d9, -3px -3px 6px #ffffff;
}

.clearBtn {
  margin-top: 4rem;
  width: 120px;
  height: 3rem;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;

  font-family: "Righteous", cursive;
  color: red;
  font-size: 1.5rem;
}
.clearBtn:active {
  box-shadow: inset 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
}
